
<div data-controller="home">
  <%= render 'header' %>
  <div class="is-flex is-flex-wrap-wrap is-justify-content-center">
    <% @playlists.each do |playlist| %>
      <%= render 'playlists/cover', { playlist: playlist } %>
    <% end %>
  </div>

  <%= render 'menu', { menu_title: auth_user.name ,menu_items: @menu_items } %>
</div>
