
<div data-controller="home">
  <%= render 'header' %>

  <div class="field pl-6 pr-6">
    <p class="control has-icons-left">
      <input class="input is-rounded" placeholder="Search">
      <span class="icon is-small is-left">
        <%= mdi 'magnify' %>
      </span>
    </p>
  </div>

  <div class="is-flex is-flex-wrap-wrap is-justify-content-center">
    <% @playlists.each do |playlist| %>
      <%= render 'playlists/cover', { playlist: playlist } %>
    <% end %>
  </div>

  <%= render 'menu', { menu_title: auth_user.name ,menu_items: @menu_items } %>
</div>
