<div class="modal" id="modal-menu">
  <div class="modal-background" data-action="click->home#toggleMenu"></div>
  <div class="modal-content">
    <div class="box ml-5 mr-5">
      <aside class="menu">
        <ul class="menu-list">
          <li><a>Dashboard</a></li>
          <li><a>Customers</a></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
